html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #23252C;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Info */
.info {
  text-align: center;
}

.info > h1, H3, a {
  margin: 0;
}

.info--icon {
  display: block;
}

.info--name {
  padding-top: 20px;
  font-size: 25px;
}

.info--occupation {
  color: #F3BF99;
  font-weight: 400;
  font-size: 13px;
  padding-top: 4px;
}

.info--website {
  text-decoration: none;
  color: #F5F5F5;
  font-size: 10px;
  display: inline-block;
  padding-top: 9px;
}

.info--buttons {
  display: flex;
  padding-top: 17px;
  font-size: 14px;
  text-decoration: none;
}

.info--email, .info--linkedin {
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  width: 115px;
  height: 34px;
  border-radius: 6px;
}


.info--email {
  background: #FFFFFF;
  color: #374151;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  margin-left: 35px;
}

.info--linkedin {
  background: #5093E2;
  color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  margin-left: auto;
  margin-right: 35px;
}

/* About & Interests*/
.about, .interests {
  margin-left: 35px;
}

.about {
  padding-top: 35px;
}

.interests {
  padding-top: 6px;
  padding-bottom: 35px;
}

h4 {
  margin: 0;
}

p {
  font-size: 10.24px;
  max-width: 247px;
  margin-top: 6px;
  font-weight: 400;
  line-height: 150%;
  color: #DCDCDC;
}

/* Footer */
.footer {
  height: 64px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
}
.socials {
  margin: 20px 12px;
}

.main {
  background: #1A1B21;
}